{% extends 'base.html' %}
{% block content %}
  <h1>{{ walk.date }} Walk</h1>
  <div class="card object">
    <div class="card-content">
      {% if walk.miles == 1 %}
        <p>Distance: {{ walk.miles }} Mile</p>
      {% else %}
        <p>Distance: {{ walk.miles }} Miles</p>
      {% endif %}
      <p>Destination: {{ walk.destination }}</p>
      {% if walk.hours == 1 %}
        <p>Time: {{ walk.hours }} Hour</p>
      {% else %}
        <p>Time: {{ walk.hours }} Hours</p>
      {% endif %}
    </div>
    <div class="btn-container">
      <a href="{% url 'walks_update' walk.id %}" class="btn">Edit</a>
      <a href="{% url 'walks_delete' walk.id %}" class="btn">Delete</a>
    </div>
  </div>
{% endblock %}